/*
 Name: Translate app.
 Description: A devChallenges coding exercise.
 Author: Federico Borzani
 GitHub: https://github.com/eserengo/
*/

$clr-black: hsl(226, 62%, 4%);
$clr-dark-gray: hsl(219, 17%, 27%);
$clr-medium-gray: hsl(217, 12%, 34%);
$clr-light-gray: hsl(215, 23%, 84%);
$clr-white: hsl(210, 20%, 98%);
$clr-blue: hsl(225, 76%, 55%);
$clr-opaque: rgba(18, 24, 38, 0.75);

:root {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  font-weight: 400;
}

body {
  min-width: 375px;
}

@mixin btn {
  color: $clr-white;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: 2px solid $clr-medium-gray;
  box-shadow: 0px 2px 4px $clr-black;
  border-radius: 0.75rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $clr-blue;
  }
}

@mixin select {
  cursor: pointer;
  background-color: $clr-dark-gray;
  color: $clr-light-gray;
  border: 2px solid $clr-medium-gray;
  border-radius: 0.75rem;
  box-shadow: 0px 2px 4px $clr-black;
  padding: 0.6rem 1.2rem;
}

@mixin icon {
  background-color: transparent;
  padding: 0.6rem 0.6rem 0.4rem;
  border: 2px solid $clr-medium-gray;
  box-shadow: 0px 2px 4px $clr-black;
  border-radius: 0.75rem;
  
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $clr-dark-gray;
  }
}