/*
 Name: Translate app.
 Description: A devChallenges coding exercise.
 Author: Federico Borzani
 GitHub: https://github.com/eserengo/
*/

$clr-black: hsl(226, 62%, 4%);
$clr-dark-gray: hsl(219, 17%, 27%);
$clr-medium-gray: hsl(217, 12%, 34%);
$clr-light-gray: hsl(215, 23%, 84%);
$clr-white: hsl(210, 20%, 98%);
$clr-blue: hsl(225, 76%, 55%);
$clr-opaque: rgba(18, 24, 38, 0.75);

$shadow: 0px 2px 4px $clr-black;

:root {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  font-weight: 400;
}

body {
  min-width: 375px;
}

@mixin btn {
  color: $clr-light-gray;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: 2px solid $clr-medium-gray;
  box-shadow: $shadow;
  border-radius: 0.75rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $clr-white;
    background-color: $clr-blue;
    border-color: $clr-blue;
  }
}

@mixin ia {
  background-color: transparent;
  padding: 0.6rem;
  border: 2px solid $clr-medium-gray;
  box-shadow: $shadow;
  border-radius: 0.75rem;
  position: relative;

  .tooltip {
    visibility: hidden;
    min-width: 6rem;
    background-color: $clr-white;
    color: $clr-black;
    font-size: 0.625rem;
    padding-block: 0.25rem;
    border: none;
    border-radius: 0.25rem;
    position: absolute;
    top: -75%;
    left: 0%;
    z-index: 1;
  }

  .tooltip::after {
    content: " ";
    position: absolute;
    top: 90%;
    left: 20%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: $clr-white transparent transparent transparent;
  }
  
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $clr-dark-gray;

    .tooltip {
      visibility: visible;
    }
  }
}
